@mixin center {
    margin: auto;
}
@mixin flexCenterX {
    display: flex;
    justify-content: center;
}
@mixin flexCenterY {
    display: flex;
    flex-direction: column;
    align-items: center;
}