/*--------------------------------------------------------------*/
/* Reset */
/*--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
a {
  color: $colorRed;
}

a:visited {
  color: $colorRed;
}

a:hover,
a:focus,
a:active {
  color: $colorBlue;
  text-decoration: none;
}

figure,
input {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0 0 0 1.5rem;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}
img {
  width: 100%;
}
