/* RIGHT SIDE */
.container__rightside {
    &-score {
      @extend .input;
      text-align: center;
      font-size: 2em;
      width: 250px;
      height: 60px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    &-tips{
      color: $white;
      margin-top: 2em;
      width: 250px;
      font-size: 1.1rem;
      padding: 10px;
      border: 1px solid $colorBluePale;
      border-radius: 5px;
    }
  }
